include Links.pug

article
    include Header.pug
    section(class="The_List")
        div(class="Container")
            div(class="The_Details")
                div(class="Add_Client")
                    a(href="DescripClient.html")
                        button Add New Client 
    include Footer.pug