include Links.pug

article
    include Header.pug
    section(class="The_List")
        div(class="Container")
            div(class="The_Head")
                span ID 
                span Name  
                span  Tel 
                span Location 
                span Total Report
                span  Total Incoming 
                span  Total OutGoing 
                span  Total Matirals Report 
                span  total Profits 

            div(class="The_Client")
                span(class="ID") 20220001 
                span(class="Name") Zain Ahmed 
                span(class="Tel")   01115575342 
                span(class="Location") 23 st. fady Azzmy St Giza  
                span
                    a(href="#") Total Report
                span(class="Total_Input")  500000
                span(class="Total_Output") 450000 
                span
                    a(href="#")  Total Matirals Report 
                span(class="Total_Profits") 50000 
                button(class="Showing") MORe

            div(class="The_Details Show")
                div(class="The_HeadX")
                    span Date 
                    span Ingoming
                    span OutGoing 
                    span  Profits 
                    span Report 
                    span  Matiral Report 
                div(class="The_Detail")
                    span(class="The_Date") 20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات 
                div(class="The_Detail")
                    span(class="The_Date")  20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات 
                div(class="The_Detail")
                    span(class="The_Date")  20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات
                div(class="Add_Size")
                        a(href="Sizes.html")
                            button اضافة مقايسة 
            div(class="The_Client")
                span(class="ID") 20220001 
                span(class="Name") احمد اسامة 
                span(class="Tel")   01115575342 
                span(class="Location") 24 ش ذكي سعيد عمرانية غربية  
                span
                    a(href="#") مقايسة شاملة
                span(class="Total_Input")  500000
                span(class="Total_Output") 450000 
                span
                    a(href="#")  تقرير خامات شامل 
                span(class="Total_Profits") 50000 
                button(class="Showing") المزيد
                
            div(class="The_Details Show")
                div(class="The_HeadX")
                    span التاريخ 
                    span الوارد 
                    span المنصرف 
                    span  المكسب 
                    span مقايسة 
                    span  تقرير خامات 
                div(class="The_Detail")
                    span(class="The_Date")  20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات 

                div(class="The_Detail")
                    span(class="The_Date")  20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات 
                div(class="The_Detail")
                    span(class="The_Date")  20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات 
                div(class="Add_Size")
                    a(href="Sizes.html")
                        button اضافة مقايسة 
            div(class="The_Client")
                span(class="ID") 20220001 
                span(class="Name") احمد اسامة 
                span(class="Tel")   01115575342 
                span(class="Location") 24 ش ذكي سعيد عمرانية غربية  
                span
                    a(href="#") مقايسة شاملة
                span(class="Total_Input")  500000
                span(class="Total_Output") 450000 
                span
                    a(href="#")  تقرير خامات شامل 
                span(class="Total_Profits") 50000 
                button(class="Showing") المزيد

            div(class="The_Details Show")
                div(class="The_HeadX")
                    span التاريخ 
                    span الوارد 
                    span المنصرف 
                    span  المكسب 
                    span مقايسة 
                    span  تقرير خامات 
                div(class="The_Detail")
                    span(class="The_Date") 20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات 
                div(class="The_Detail")
                    span(class="The_Date")  20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات 
                div(class="The_Detail")
                    span(class="The_Date")  20/11/2020
                    span(class="Input")  50000
                    span(class="Output") 45000 
                    span(class="Profits") 5000 
                    span
                        a(href="#") مقايسة 
                    span
                        a(href="#")  تقرير خامات
                div(class="Add_Size")
                    a(href="Sizes.html")
                        button اضافة مقايسة 
            div(class="Add_Client")
                a(href="DescripClient.html")
                    button اضافة عميل                     
    include Footer.pug
