include Links.pug

article
    section(class="The_Client_Report")
        div(class="Container")
            div
                img(src="../Images/LOGO.jpg" alt="LOGO")
                h1 Work Fast
            div
                div 
                    h2 MR. 
                        span  Ahmed Osama
                    h2 ID: 
                        span 20210008
                    h2 Tel: 
                        span 01115575314
                    h2 location: 
                     span 23 st. fady Azzmy St Giza 
                div 
                    div(class="The_Details")
                        h1 Main Money
                        div(class="The_HeadX")
                            span  Type
                            span  The Width
                            span  The Height
                            span  The Area
                            span  Price OF Matr
                            span  The Descreption
                            span  Price OF Window
                            span  Total Price 
                        div(class="The_Detail")
                            span(class="The_Date") Small PS
                            span(class="Width")  1.5
                            span(class="Height") 1.5
                            span(class="Area") 2.25
                            span(class="Price_OF_Matr")  2000
                            span(class="Descreption")  Two Doors Panda
                            span(class="Price_OF_Window")  4500
                            span(class="Total_Price")  4500
                        div(class="The_Detail")
                            span(class="The_Date") Big PS
                            span(class="Width")  1.5
                            span(class="Height") 1.5
                            span(class="Area") 2.25
                            span(class="Price_OF_Matr")  2000
                            span(class="Descreption")  Two Doors Panda
                            span(class="Price_OF_Window")  4500
                            span(class="Total_Price")  9000
                        div(class="The_Detail")
                            span(class="The_Date") Gambo
                            span(class="Width")  1.5
                            span(class="Height") 1.5
                            span(class="Area") 2.25
                            span(class="Price_OF_Matr")  2000
                            span(class="Descreption")  Two Doors Panda
                            span(class="Price_OF_Window")  4500
                            span(class="Total_Price")  13500
                        div(class="The_Detail")
                            span(class="The_Date") Tango
                            span(class="Width")  1.5
                            span(class="Height") 1.5
                            span(class="Area") 2.25
                            span(class="Price_OF_Matr")  2000
                            span(class="Descreption")  Two Doors Panda
                            span(class="Price_OF_Window")  4500
                            span(class="Total_Price")  18000
                        div(class="The_Detail")
                            span(class="The_Date") Small PS
                            span(class="Width")  1.5
                            span(class="Height") 1.5
                            span(class="Area") 2.25
                            span(class="Price_OF_Matr")  2000
                            span(class="Descreption")  Two Doors Panda
                            span(class="Price_OF_Window")  4500
                            span(class="Total_Price")  22500
                    div(class="The_Details")
                        h1 Addition Money
                        div(class="The_HeadX")
                            span  Transportion
                            span  Wokers
                        div(class="The_Detail")
                            span(class="Transportion") 2000
                            span(class="Wokers")  500
                    div(class="The_Details")
                        h1 Total Price: 
                            span 25000
            div(class="Copy") 
                span © 2021 
                p Work Fast
                span All Right Reserved ,
                span  Followed By 
                p  Elhyal Group    