footer
    div(class="Container")
        div   
            div
                h1 WORK FAST
                img(src="../Images/LOGO.jpg")
            div 
                h2 معلومات
                ul 
                    li  
                        a(href="#Home") الرئيسية
                    li  
                        a(href="#Lists") القوائم
                    li  
                        a(href="#Start_Working") أبدا العمل
                    li  
                        a(href="#Testimoniles") أراء عملائنا
                    li  
                        a(href="#AboutUs") عنا

            div 
                h2 تابعونا من خلال 
                ul 
                    li 
                        a(href="#")
                            i(class="fab fa-1x fa-facebook")
                    li 
                        a(href="#")
                            i(class="fab fa-1x fa-twitter")
                    li 
                        a(href="#")
                            i(class="fab fa-1x fa-instagram")
                    li 
                        a(href="#")
                            i(class="fas fa-1x fa-phone-alt")
                    li 
                        a(href="#")
                            i(class="fas fa-1x fa-envelope")
        div 
            span © 2021 
            p Work Fast
            span All Right Reserved ,
            span  Followed By 
            p  Elhyal Group
            
script(src="../Js/Index.js")