header 
    img(src="../Images/LOGO.jpg" alt="LOGO")
    h1 Work Fast
    ul 
        li 
            a(href="Home.html#Home") الرئيسية
        li 
            a(href="Home.html#Services") الخدمات
        li 
            a(href="Home.html#Start_Working") أبدا العمل
        li 
            a(href="Home.html#Lists") القوائم
        li 
            a(href="Home.html#AboutUs") عنا
        li 
            a(href="Home.html#Testimoniles") اراء عملائنا
        li 
            a(href="Home.html#ContactUs") تواصل معنا 