include Links.pug
    body
        article
            section(class="Home" id="Home")
                div(id="Control_Board")
                    div(id="BackGround-Colors")
                        h1 BackGround Color
                        div 
                            span(id="orange")
                            span(id="green")
                            span(id="blue")
                            span(id="yellow")
                            span(id="red")
                    div(id="Open-Board")  
                        div
                            div
                                i(id="Opening" class="fas fa-1x fa-horse-head")
                    div(id="Width-Content")
                        h1 The Width
                        div
                            input(type="Number" placeholder="Type Your Own Widtth In Pixels")
                    div(id="Control_at_Shifting_BackGround_Image")
                        h1 Shifting BackGround Image
                        div
                            button(id="Shift_Image") Shift
                            button(id="Stop_Shifting") Stop
                div(class="Container")
                    include header.pug
                    div
                        h1 
                            span Work Fast 
                            | For Discounts
                        p  اهلا بك عميلنا العزيز تقدم معنا خطوة للامام وكن اسرع واسهل و ادق 
            section(class="Services" id="Services")
                h1 الخدمات
                div(class="Container")
                    div 
                        i(class="fas fa-3x fa-horse-head")
                        h1 تقرير للعمل 
                        p نقدم لك تقريرا مفصلا متكامل لنوفر عليك الجهد و اللوقت 
                    div 
                        i(class="fas fa-3x fa-horse-head")
                        h1 تقرير للعميل 
                        p نقدم لك تقريرا سريعا للرد علي عمييلك ففيي اسرع وقت 
                    div 
                        i(class="fas fa-3x fa-horse-head")
                        h1 كتالوج للاسعار 
                        p نقدم لك تقرير يوحدث يوميا للاسعار لجميع القطاعات المتاحة
                    div 
                        i(class="fas fa-3x fa-horse-head")
                        h1 كتالوج التخصيمات 
                        p نقدم لك تقرير يوحدث يوميا للتخصيمات لجميع القطاعات المتاحة
                    div 
                        i(class="fas fa-3x fa-horse-head")
                        h1 كتالوج للاوزان  
                        p نقدم لك تقرير يوحدث يوميا للازان لجميع القطاعات المتاحة
                    div 
                        i(class="fas fa-3x fa-horse-head")
                        h1 كتالوج للالوان  
                        p نقدم لك تقرير يوحدث يوميا لللالوان المتاحة في الاسواق
                    div 
                        i(class="fas fa-3x fa-horse-head")
                        h1 كتالوج للاكسسواررات  
                        p نقدم لك تقرير يوحدث يوميا لجميع  اكسسوارات القطاعات المتاحة
                    div 
                        i(class="fas fa-3x fa-horse-head")
                        h1 كتالوج التجار  
                        p نقدم لك تقرير يوحدث يوميا لجميع التجار المتاحين
            section(class="Start_Working" id="Start_Working")  
                h1 أبدا العمل    
                div(class="Container") 
                    form
                        input(type="text" placeholder="أكنب اسمك هنا")
                        input(type="password" placeholder="اكنب رمز الدخول")
                    a(href="AddClient.html") التسجيل كضبف ؟
                    a(href="ClientList.html") سجل العملاء 
                    a(href="#") نسيت الرمز ؟
                    a(href="#") انشاء حساب جديد ؟
            section(class="Lists" id="Lists")
                h1 قوائم المنتجات
                div(class="Container")
                    div(class="Colors")
                        img(src="../Images/Color.jpg")
                        span كتالوج الالوان 
                    div(class="Weights")
                        img(src="../Images/Weights.jfif")
                        span كتالوج الاوزان
                    div(class="Pricing")
                        img(src="../Images/pricing.jpg")
                        span كتالوج اللاسعار
                    div(class="Discounts")
                        img(src="../Images/Dicounts.jpg")
                        span كتالوج التخصيمات
                    div(class="ِAlumital")
                        img(src="../Images/Alumital.jfif")
                        span كتالوج القطاعات
                    div(class="Accesssoties")
                        img(src="../Images/Accessories.jpg")
                        span كتالوج الاكسسوارات
                    div(class="Accesssoties")
                        img(src="../Images/Traders.jfif")
                        span كتالوج التجار

            section(class="AboutUs" id="AboutUs")  

                h1 عنا
                div(class="Container")    
                    div
                        div
                            span نشأة الموقع
                            p اهلا بك عميلنا العزيز تقدم معنا خطوة للامام وكن اسرع 
            
                        div
                            span تطور المموقع
                            p اهلا بك عميلنا العزيز تقدم معنا
                        div
                            span ازدهار الموقع
                            p اهلا بك عميلنا العزيز تقدم معنا خطوة للامام وكن اسرع 
            
                        div
                            span اهداف الموقع
                            p اهلا بك عميلنا العزيز تقدم معنا
                    div
                        div
                            span 2019
                            p اهلا بك عميلنا العزيز تقدم معنا خطوة للامام وكن اسرع 
            
                        div
                            span 2020
                            p اهلا بك عميلنا العزيز تقدم معنا
                        div
                            span 2021
                            p اهلا بك عميلنا العزيز تقدم معنا خطوة للامام وكن اسرع 
            
                        div
                            span 2022
                            p اهلا بك عميلنا العزيز تقدم معنا

            section(class="Testimoniles" id="Testimoniles")
                h1 اراء عملائنا 
                div(class="Container")
                        div    
                            div 
                                h2 Zain Ahmed
                                q صفحة جيدة جدا توفر الكثير من الجهد والوقت و تزييد التكيز علي التدقيق
                            div 
                                h2 Zain Ahmed
                                q صفحة جيدة جدا توفر الكثير من الجهد والوقت و تزييد التكيز علي التدقيق
                            div 
                                h2 Zain Ahmed
                                q صفحة جيدة جدا توفر الكثير من الجهد والوقت و تزييد التكيز علي التدقيق
                        form 
                            label اترك لنا تعليق من فضلك
                            input(type="text" placeholder="اكتب اسمك")
                            textarea(placeholder="اضف لنا رسالتك هنا ")
                            input(type="submit" value="ارسل")
            section(class="Statistics" id="Statistics")
                div(class="Container")
                    div 
                        i(class="fas fa-2x fa-horse-head")
                        h1(id="Visitors") 0
                        p  الزوار 
                    div 
                        i(class="fas fa-2x fa-horse-head")
                        h1(id="Comments") 0
                        p  التعليقات 
                        span 
                            a(href="#") اضافة تعليق
                    div 
                        i(class="fas fa-2x fa-horse-head")
                        h1(id="likes") 0
                        p  الاعجابات 
                        span 
                            a(href="#") اضافة اعجاب 
                    div 
                        i(class="fas fa-2x fa-horse-head")
                        h1(id="Years") 0
                        p   سنين الخبرة 
            section(class="ContactUs" id="ContactUs")
                h1 تواصل معنا
                div(class="Container")
                    div 
                        form 
                            input(type="text" placeholder="أكتب أسمك نا")
                            label  أو
                            input(type="tel" placeholder="أكتب رقم الهاتف")
                            input(type="email" placeholder="أكتب الايميل ")
                            textarea()
                            input(type="submit" value="ارسال")
                    div
                        img(src="../Images/LOGO.jpg")
            include  Footer.pug
