doctype
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="../CSS/Home.css")
        link(rel="stylesheet" href="../CSS/all.css")
        link(rel="stylesheet" href="../CSS/normalize.css")