include Links.pug

article
    include Header.pug
    section(class="The_Types")
        div(class="Container")
            div(class="Type")
                h2 بس اس كبير
                div
                    button
                        a(href="Sliding.html") جرار
                    button 
                        a(href="#") مفصلي
                    button 
                        a(href="#") قلاب
                    button
                        a(href="#") ابواب
            div(class="Type")
                h2 بس اس صغير
                div
                    button
                        a(href="#") جرار
                    button 
                        a(href="#") مفصلي
                    button 
                        a(href="#") قلاب
                    button
                        a(href="#") ابواب
            div(class="Type")
                h2 جامبو 
                div
                    button
                        a(href="#") جرار
                    button 
                        a(href="#") مفصلي
                    button 
                        a(href="#") قلاب
                    button
                        a(href="#") ابواب
            div(class="Type")
                h2 تانجو
                div
                    button
                        a(href="#") جرار
                    button 
                        a(href="#") مفصلي
                    button 
                        a(href="#") قلاب
                    button
                        a(href="#") ابواب
            div(class="Type")
                h2 الوميل
                div
                    button
                        a(href="#") جرار
                    button 
                        a(href="#") مفصلي
                    button 
                        a(href="#") قلاب
                    button
                        a(href="#") ابواب
            div(class="Type")
                h2  فالفيا
                div
                    button
                        a(href="#") جرار
                    button 
                        a(href="#") مفصلي
                    button 
                        a(href="#") قلاب
                    button
                        a(href="#") ابواب
            div(class="Type")
                h2 السعد
                div
                    button
                        a(href="#") جرار
                    button 
                        a(href="#") مفصلي
                    button 
                        a(href="#") قلاب
                    button
                        a(href="#") ابواب
            div(class="Type")
                h2 العربية
                div
                    button
                        a(href="#") جرار
                    button 
                        a(href="#") مفصلي
                    button 
                        a(href="#") قلاب
                    button
                        a(href="#") ابواب
    include Footer.pug