include Links.pug

article
    section(class="The_Worker_Report")
        div(class="Container")
            div
                img(src="../Images/LOGO.jpg" alt="LOGO")
                h1 Work Fast
            div(class="Outputs")
                h1 الخامات
                div(class="Aluminum")
                    div
                        h2 حلق جرار
                        span 0
                    div 
                        h2 درفة جرار
                        span 0
                    div 
                        h2 درفة  سلك
                        span 0
                    div 
                        h2 سكينة
                        span 0
                    div 
                        h2 التقابل
                        span 0
                    div 
                        h2 الوزن التقريبي
                        span 0
                h1 مقاسات الزجاج
                div(class="Glass")
                    div 
                        h2 عرض
                        span 0
                    div
                        h2 ارتفاع
                        span 0
                    div
                        h2 عدد
                        span 0
                h1 الاكسسوارات
                div(class="Accessories")
                    div
                        h2 كورنر جرار 
                        span 0
                    div
                        h2 عظم سكينة
                        span 0
                    div
                        h2 زاوية حديد
                        span 0
                    div
                        h2 زاوية بلاستيك
                        span 0
                    div
                        h2 طقم عجل
                        span 0
                    div
                        h2 طقم عظم سكينة 
                        span 0
                    div
                        h2 سكاك وشين
                        span 0
                    div
                        h2 سبليونة وشين
                        span 0
                    div
                        h2 متنع اتربة 
                        span 0
                    div
                        h2 عجل سلك حديد
                        span 0
                    div
                        h2 كاوتش حرف T
                        span 0
                    div
                        h2 كاةتش زجاج 
                        span 0
                    div
                        h2 فورش 7x7 
                        span 0
                h1 التخصيمات 
                div(class="Discounts") 
                    div 
                        h2  حلق جرار 
                        span 0
                        h2 عدد
                        span 0
                    div 
                        h2  حلق جرار 
                        span 0
                        h2 عدد
                        span 0
                    div 
                        h2 درفة جرار
                        span 0
                        h2 عدد
                        span 0
                    div 
                        h2 درفة جرار
                        span 0
                        h2 عدد
                        span 0
                    div 
                        h2 درفة  سلك
                        span 0
                        h2 عدد
                        span 0
                    div 
                        h2 درفة  سلك
                        span 0
                        h2 عدد
                        span 0
                    div 
                        h2 سكينة
                        span 0
                        h2 عدد
                        span 0
            div(class="Copy") 
                span © 2021 
                p Work Fast
                span All Right Reserved ,
                span  Followed By 
                p  Elhyal Group    